[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
django-environ = "*"
djangorestframework = "*"
django-service-objects = "*"
factory-boy = "*"
basic-math-calculator = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.10"
